<link rel="stylesheet" href="../../../static/style.css">

<!--
About tables:
If possible, "div-tables" are used. But some cases wasn't possible to get running with those div-tables. These cases
are:
    - colspan
    - rowspan
When needed, a classic <table> is used.
-->


<html>
<head>
    <meta charset="UTF-8">
    <title>Jira Issue Export, {{issue.key}} - {{issue.fields.summary}}</title>
</head>

<body class="issue-page">

<!-- TODO Link: "Back to index-page. -->

<div>
    {{issue|render_field('project')}} / {{issue.key}} (Issue-ID:{{issue.id}})
</div>

<h1>
    <!-- Always requiered and can't be hidden. -->
    {{issue|render_field('summary')}}
</h1>

<h4>Details - System Fields</h4>
<div class="table first-column-fixed-width fields-table section-content">
    <div>
        <div>Type:</div>
        <div>{{issue|render_field('issuetype')}}</div>
    </div>
    <div>
        <div>Priority:</div>
        <div>{{issue|render_field('priority')}}</div>
    </div>
    <div>
        <div>Affects Version/s:</div>
        <div>
            {{issue|render_field('versions')}}
        </div>
    </div>
    <div>
        <div>Component/s:</div>
        <div>
            {{issue|render_field('components')}}
        </div>
    </div>
    <div>
        <div>Labels:</div>
        <div>{{issue|render_field('labels')}}</div>
    </div>
    <div>
        <div>Status:</div>
        <div>{{issue|render_field('status')}}</div>
    </div>
    <div>
        <div>Resolution:</div>
        <div>{{issue|render_field('resolution')}}</div>
    </div>
    <div>
        <div>Fix Version/s:</div>
        <div>{{issue|render_field('fixVersions')}}</div>
    </div>
</div>  <!-- End of Details - System Fields -->


<h4>People</h4>
<div class="table first-column-fixed-width fields-table section-content">
    <div>
        <div>Assignee:</div>
        <div>{{issue|render_field('assignee')}}</div>
    </div>
    <div>
        <div>Reporter:</div>
        <div>{{issue|render_field('reporter')}}</div>
    </div>
    <div>
        <div>Votes:</div>
        <div>{{issue|render_field('votes')}}</div>
    </div>
    <div>
        <div>Watchers:</div>
        <div>{{issue|render_field('watches')}}</div>
    </div>
</div>  <!-- End of People -->


<h4>Dates</h4>
<div class="table first-column-fixed-width fields-table section-content">
    <div>
        <div>Created:</div>
        <div>{{issue|render_field('created')}}</div>
    </div>
    <div>
        <div>Updated:</div>
        <div>{{issue|render_field('updated')}}</div>
    </div>
    <div>
        <div>Resolved:</div>
        <div>{{issue|render_field('resolutiondate')}}</div>
    </div>
</div>  <!-- End of People -->


<h4>Description</h4>
<div class="section-content">
    <!-- The renderedFields.description is given regardless of the Default Text Renderer or the Wiki Style Renderer,
    so it is save to use renderedFields.description rather than fields.description. But in case of the Default
    Text Renderer, it is not rendered of course.

    The description may contain links to images. These links point to the server. The render_field() function has
    to transform them into links to the local downloaded attachments-directory. -->
    <div>{{issue|render_field('description')}}</div>
</div>  <!-- End of Description -->


<h4>Details - Custom Fields</h4>
<!-- Render only set fields as Jira does. -->
<div class="table first-column-fixed-width fields-table section-content">
    {% for field_id in issue.fields if field_id.startswith('customfield_') %}
    {% set value = issue|render_field(field_id) %}
    {% if value %}
    <div>
        <div title="{{field_id}}">{{api_2_field_as_map[field_id]['name']}}:</div>
        <div>{{issue|render_field(field_id)}}</div>
    </div>
    {% endif %}
    {% endfor %}
</div>  <!-- End of Details - Custom Fields -->


<h4>Attachments</h4>

<!-- Use a <table> to get the rowspan running (not possible in div-tables?). -->
<table class="table attachments-table section-content">
    <tbody>
    {% for attachment in issue.fields.attachment %}
    <tr>
        <td>Created:</td>
        <td>{{attachment.created|render_datetime_type}}</td>
        <td rowspan="3">
            <div>
                <!-- attachment.content contains the URL. It has the form:
                "http://localhost:2990/jira/secure/attachment/10401/attachment-A.png" -->
                <a href="{{issue.key|to_local_attachment_url(attachment_id=attachment.id, attachment_filename=attachment.filename)}}">
                    <!-- Only images have a thumbnail.
                    If it is an image, attachment.thumbnail contains the thumbnail-URL. It has the form:
                    "http://localhost:2990/jira/secure/thumbnail/10401/_thumb_10401.png.
                    If it is not an image, there is no thumbnail and we use our static attachment-icon. -->
                    {% if 'thumbnail' in attachment %}
                    <img src="{{issue.key|to_local_attachment_thumb_url(attachment.thumbnail)}}"
                         alt="{{attachment['filename']}}">
                    {% else %}
                    <img src="../../../static/attachment-icon.png"
                         alt="Attachment">
                    {% endif %}
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <!-- I think escaping is not needed here, because Jira prohibits attaching files with names containing
            the chars '<', '>', '?' (but '&' is allowed). But to be sure, escape the name. -->
        <td>{{attachment['filename']|e}}</td>
        <!-- no <td> here because of the rowspan. -->
    </tr>
    <tr>
        <td>Size:</td>
        <td>{{attachment['size']|filesizeformat}}</td>
        <!-- no <td> here because of the rowspan. -->
    </tr>
    {% endfor %}
    </tbody>
</table>    <!-- End of Attachments -->


<h4>Comments</h4>
<div class="table comments-table section-content">
    <!-- Iterate over the renderedFields-comments rather than over the fields-comments.
    The renderedFields-comments are given also in case of the Default Text Renderer.

    The dates in issue.renderedFields.comment.comments could be relative in the form "3 days ago".
    We have to use the absolute dates from the non-rendered issue.fields.comment.comments. -->
    {% for comment in issue.renderedFields.comment.comments %}
    <div>
        <div>Created:</div>
        <!-- loop.index0: Use the 0-based indexing. -->
        <div>{{issue.fields.comment.comments[loop.index0].created|render_datetime_type}}</div>
    </div>
    <div>
        <div>Author:</div>
        <div>{{comment.author|render_user_type}}</div>
    </div>
    <div>
        <div>Updated:</div>
        <div>{{issue.fields.comment.comments[loop.index0].updated|render_datetime_type}}</div>
    </div>
    <div>
        <div>Update Author:</div>
        <div>{{comment.updateAuthor|render_user_type}}</div>
    </div>
    <div>
        <div>Comment:</div>
        <div>{{comment.body|replace_server_url_with_local_url(issue.key, issue.id)}}</div>
    </div>
    {% endfor %}

</div>  <!-- End of Comments -->


<h4>Changelogs</h4>
<!-- Use a <table> to get the colspan running (not possible in div-tables?). -->
<table class="table full_width changelogs-table section-content">
    <thead>
    <tr>
        <th>Field</th>
        <th>Original Value</th>
        <th>New Value</th>
    </tr>
    </thead>
    <tbody>

    {% for change in issue.changelog.histories %}
    <tr class="changelog-heading">
        <td colspan="3">{{change.created|render_datetime_type}}; {{change.author|render_user_type}}</td>
    </tr>

    {% for item in change.get('items') %}
    {% if loop.last %}
    <tr class="changlog-last-item">
        {% else %}
    <tr>
        {% endif %}
        <!-- change.items doesn't work here because 'items' is a Python built-in. Use
            .get() instead.
            From: https://github.com/pallets/jinja/issues/789

            The fromString and toString contain the non-rendered content. It has to
            be escaped ( |e ).
        -->
        <td>{{item.field}}</td>
        <td>
            {% if item.fromString %}{{item.fromString|e}} {% endif %}
            {% if item.from %}[ {{item.from}} ]{% endif %}
        </td>
        <td>
            {% if item.toString %}{{item.toString|e}} {% endif %}
            {% if item.to %}[ {{item.to}} ]{% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>    <!-- End of History -->


</body>
</html>

