<link rel="stylesheet" href="../../static/style.css">


<html>
<head>
    <meta charset="UTF-8">
    <title>Jira Issue Export, {{project.key}}</title>
</head>

<body>

<!-- TODO Link: "Back to index-page. -->

<div>
    {{project.name}} ({{project.key}})
</div>

<h4>Overview</h4>
<div class="table first-column-fixed-width fields-table section-content">
    <div>
        <div>Name:</div>
        <div>{{project.name}}</div>
    </div>
    <div>
        <div>Key:</div>
        <div>{{project.key}}</div>
    </div>
    <div>
        <div>URL:</div>
        <div>
            {{project.url}}
        </div>
    </div>
    <div>
        <div>Project type:</div>
        <div>
            {{project.projectTypeKey}}
        </div>
    </div>
    <div>
        <div>Project category:</div>
        <div>TODO</div>
    </div>
    <div>
        <div>Archived:</div>
        <div>{{project.archived}}</div>
    </div>
    <!-- TODO Project-avatar
        <div>
            <div>Avatar:</div>
            <div>TODO</div>
        </div>
    -->
    <div>
        <div>Description:</div>
        <!-- TODO How to get the rendered project-description? -->
        <div>{{project.description}}</div>
    </div>
</div>  <!-- End of Details - System Fields -->


<h4>Components</h4>
<table class="table components-table section-content">
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    {% for component in project.components %}
    <tr>
        <td>{{component.name}}</td>
        <td>{{component.id}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>    <!-- End of Components -->


<h4>Versions</h4>
<table class="table versions-table section-content">
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Released</th>
        <th>Archived</th>
    </tr>
    </thead>
    <tbody>
    {% for version in project.versions %}
    <tr>
        <td>{{version.name}}</td>
        <td>{{version.id}}</td>
        <td>{{version.released}}</td>
        <td>{{version.projectId}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>    <!-- End of Versions -->


</body>
</html>

