<link rel="stylesheet" href="./static/style.css">

<html>
<head>
    <meta charset="UTF-8">
    <title>Jira Issue Export, Issues {{page_min_index}} - {{page_max_index}} of {{overall_issue_count}}</title>
</head>

<body class="index-page">

<!--
<div>Issues {{page_min_index}} - {{page_max_index}} of {{overall_issue_count}}</div>
-->
<h4>Issues {{page_min_index}} - {{page_max_index}} of {{overall_issue_count}}</h4>


<!-- We're using a <table>, not a div-table. This is because the table shall be sortable later on, and the
JS-sorting-libs work with <table>s. -->

<table class="table index-table">
    <thead>
    <tr>
        {% for field_id in field_ids %}
        <th>
            {{api_2_field_as_map[field_id]['name']}}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
    <tr>
        {% for field_id in field_ids %}
        <td>
            {% if field_id == 'issuekey' %}
            <a class="link nowrap" href="{{issue_links[issue.key]}}">{{issue.key}}</a>
            {% elif field_id == 'summary' %}
            <a class="link" href="{{issue_links[issue.key]}}">{{issue|render_field(field_id)}}</a>
            {% else %}
            {{issue|render_field(field_id)}}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>

