<link rel="stylesheet" href="./static/style.css">

<html>
<head>
    <meta charset="UTF-8">
    <title>Jira Issue Export, Issues {{page_min_index}} - {{page_max_index}} of {{overall_issue_count}}</title>
</head>

<body class="index-page">

<h4>Export date: {{export_date}}</h4>


{% for subindex_page_name in subindex_page_names %}
<div>
    <a class="link nowrap" href="{{subindex_page_name}}">{{subindex_page_name}}</a>
</div>
{% endfor %}


</body>
</html>
