
body {
    font-family: Helvetica Neue,sans-serif;
    color: #172b4d;
    font-size: 14px;
    line-height: 1.4;
    margin: 30px;
    border: 2px solid #ebecf0;
    padding: 30px;
}


body.issue-page {
    max-width: 800px;
}


/* Limit all images so they fit into the max-width. */
img {
    max-width: 500px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

.issue-page h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}
h4 {
    font-weight: 600;
    font-size: 14px;
}

.section-content {
    margin-left: 6px;
}


/*
 * For <div>-tables.
 */
div.table {
    display: table;
    /* Needed to draw a border. */
    border-collapse: collapse;
    /* Make the table as wide as the page. Without this, the table is only as narrow as the content takes. */
    width: 100%;
}

/* Table row of a div-table. */
div.table > div {
    display: table-row;
}

/* Table cell of a div-table. */
div.table > div > div {
    display: table-cell;
    padding: 3px 3px;
}

/* First table column of a div-table. */
/*
div.table > div > div:first-child {
    width: 250px;
    color: #7a869a;
}
*/
/*
 * For <table>-tables.
 */
table {
    /* Needed to draw a border. */
    border-collapse: collapse;
    /* <table>-Tables ignore the outer font-size and line-height; set it. */
    font-size: 14px;
    line-height: 1.4;
    /* Make the table as wide as the page. Without this, the table is only as narrow as the content takes. */
    /*width: 100%;*/
}


table.full_width {
    width: 100%;
}


thead th {
    color: #7a869a;
    text-align: left;
    /*padding-left: 10px;*/
}


/* First table column of a <table>-table. */
/*
table.table td:first-child {
    width: 250px;
    color: #7a869a;
}
*/
body.issue-page table.table td {
    padding: 3px 3px;
    border-collapse: collapse;
}


table.table.first-column-fixed-width td:first-child, div.table.first-column-fixed-width > div > div:first-child {
    width: 250px;
    color: #7a869a;
}



/*
 * Attachments
 */

.attachments-table img {
    max-height: 100px;
    max-width: 100px;
}

table.attachments-table td:nth-child(2) {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.attachments-table tr:nth-child(3n+1) {
    border-top: 2px solid #ebecf0;
}

.attachments-table tr:last-child {
    border-bottom: 2px solid #ebecf0;
}

.attachments-table tr:nth-child(3n+1) td {
    padding-top: 10px;
}

.attachments-table tr:nth-child(3n) td {
    padding-bottom: 10px;
}

.attachments-table tr:last-child td {
    padding-bottom: 10px;
}


/*
 * Comments
 */

.comments-table > div:first-child, .comments-table > div:nth-child(6n) {
    border-top: 2px solid #ebecf0;
}

.comments-table > div:last-child {
    border-bottom: 2px solid #ebecf0;
}

.comments-table > div:first-child > div, .comments-table > div:nth-child(6n) > div{
    border-top: 2px solid #ebecf0;
    padding-top: 10px;
}


/*
 * Changelogs
 */


.changelogs-table th:first-child {
    width: 20%;
}

.changelogs-table th:nth-child(2), .changelogs th:nth-child(3){
    width: 40%;
}

.changelog-heading > td:first-child {
    border-top: 2px solid #ebecf0;
    padding-top: 10px;
    color: #172b4d !important;
}

.changelogs-table tr {
    vertical-align: top;
}

tr.changlog-last-item td {
    padding-bottom: 10px;
}


/*
 * Index-pages
 */


/* Heading "Issues 1 - 5 of 12345" */
/*
body.index-page div:first-child {
    font-weight: bold;
    margin-bottom: 16px;
}
*/

body.index-page table.table td {
    padding: 5px 5px;
    border-collapse: collapse;
}
.index-table tr {
    border-top: 2px solid #ebecf0;
    border-bottom: 2px solid #ebecf0;
}

.index-table tbody tr:hover {
    background-color: #eeeeee;
}

.link {
    /* Avoid flicker when hovering between the lines. */
    display: block;
    /* Make the default not-unterlined. */
    text-decoration: none;
}

.link:hover {
    /* Underline only on hover. */
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}



/*
 * Project-pages
 */

table.components-table td:nth-child(1) {
    padding-right: 15px !important;
}
table.components-table td:nth-child(2) {
    padding-left: 15px !important;
    padding-right: 15px !important;
}


table.versions-table td:nth-child(1) {
    padding-right: 15px !important;
}
table.versions-table td:nth-child(2) {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
table.versions-table td:nth-child(3) {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
table.versions-table td:nth-child(4) {
    padding-left: 15px !important;
}